<div class="container">

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">28</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> <a href=""> Hello Heroku! </a> </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">21</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">15</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">15</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">28</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">21</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">15</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>

  <article>
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">15</span>/<span class="month">01</span> </div>

      <div class="article pull-right">
        <h2 class="title"> Hello Heroku! </h2>
        <p class="summary"> This is the first article here, it's just for test to see how it'll look like, and more text here. This is the first article here, it's just for test to see how it'll look like. </p>
        <div class="tags">
          <a href=""> RoR Beginner </a> . <a href=""> RoR App </a>
        </div>
      </div>

    </div>
  </article>


  <section class="footer">
    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          ReadList
        </div>
        <div class="pull-right article">
          <a href=""> Articles I Enjoyed Reading. </a>
        </div>
      </div>
    </article>

    <article class="topics-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Topics
        </div>
        <div class="pull-right article">
          <a href=""> Front-end Web </a> . <a href=""> RoR </a> .
          <a href=""> Wordpress </a> . <a href=""> Drupal </a>
        </div>
      </div>
    </article>

    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Tags
        </div>
        <div class="pull-right article">
          <a href=""> Front-end Web </a> <a href=""> RoR </a>
          <a href=""> Wordpress </a> <a href=""> Drup </a>
          <a href=""> Front-end </a> <a href=""> RoRails </a>
          <a href=""> Wordpress </a> <a href=""> Rails </a>
          <a href=""> Web </a> <a href=""> RoR </a>
          <a href=""> Wp </a> <a href=""> Drpal </a>
          <a href=""> Frontend </a> <a href=""> RoR </a>
          <a href=""> Wordpress </a> <a href=""> Drupl </a>
        </div>
      </div>
    </article>
  </section>

</div>